In [1]:
#importing all the libraries.
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data= pd.read_csv("Churn_Modelling.csv")

In [38]:
data

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [106]:
x=data.iloc[:,3:13]
y=data.iloc[:,13:]

In [107]:
y.shape

(10000, 1)

In [108]:
geography=pd.get_dummies(x["Geography"],drop_first=True )
gender=pd.get_dummies(x["Gender"],drop_first=True)

In [109]:
x=pd.concat([x,geography,gender],axis=1)

In [110]:
x=x.drop(['Geography','Gender'],axis=1)

In [111]:
x

      CreditScore  Age  Tenure  ...  Germany  Spain  Male
0             619   42       2  ...        0      0     0
1             608   41       1  ...        0      1     0
2             502   42       8  ...        0      0     0
3             699   39       1  ...        0      0     0
4             850   43       2  ...        0      1     0
...           ...  ...     ...  ...      ...    ...   ...
9995          771   39       5  ...        0      0     1
9996          516   35      10  ...        0      0     1
9997          709   36       7  ...        0      0     0
9998          772   42       3  ...        1      0     1
9999          792   28       4  ...        0      0     0

[10000 rows x 11 columns]

In [134]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=4)

In [135]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [136]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU, ReLU,PReLU
from keras.layers import Dropout

In [137]:
classifier= Sequential()

In [138]:
classifier.add(Dense(units=10,activation="relu",input_dim = 11))
#classifier.add(Dropout(0.3))
classifier.add(Dense(units = 20,activation='relu'))
#classifier.add(Dropout(0.4))
classifier.add(Dense(units=6,activation="relu" ))
#classifier.add(Dropout(0.2))
classifier.add(Dense(units=1 ,activation='sigmoid' , kernel_initializer= 'glorot_uniform' ))

In [139]:
classifier.compile(optimizer='adamax', loss='binary_crossentropy' , metrics =['accuracy'])

In [140]:
model_history=classifier.fit(x_train,y_train,validation_split=0.33,batch_size=20,epochs=100,)

Epoch 1/100
235/235 [==============================] - 1s 2ms/step - loss: 0.5910 - accuracy: 0.6905 - val_loss: 0.5227 - val_accuracy: 0.7867
Epoch 2/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4845 - accuracy: 0.8001 - val_loss: 0.5008 - val_accuracy: 0.7897
Epoch 3/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4707 - accuracy: 0.8020 - val_loss: 0.4865 - val_accuracy: 0.7888
Epoch 4/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4602 - accuracy: 0.8017 - val_loss: 0.4776 - val_accuracy: 0.7953
Epoch 5/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4404 - accuracy: 0.8115 - val_loss: 0.4703 - val_accuracy: 0.7971
Epoch 6/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4435 - accuracy: 0.8017 - val_loss: 0.4668 - val_accuracy: 0.7984
Epoch 7/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4306 - accuracy: 0.8128 - val_loss: 0.4602 - val_accuracy: 0.8001
Epoch 8/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4205 - accuracy: 0.8245 - val_loss: 0.4589 - val_accuracy: 0.8014
Epoch 9/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4234 - accuracy: 0.8133 - val_loss: 0.4566 - val_accuracy: 0.8040
Epoch 10/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4413 - accuracy: 0.8027 - val_loss: 0.4542 - val_accuracy: 0.8027
Epoch 11/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4276 - accuracy: 0.8127 - val_loss: 0.4509 - val_accuracy: 0.8035
Epoch 12/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4227 - accuracy: 0.8065 - val_loss: 0.4514 - val_accuracy: 0.8061
Epoch 13/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4150 - accuracy: 0.8165 - val_loss: 0.4478 - val_accuracy: 0.8044
Epoch 14/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4103 - accuracy: 0.8154 - val_loss: 0.4466 - val_accuracy: 0.8070
Epoch 15/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4171 - accuracy: 0.8229 - val_loss: 0.4456 - val_accuracy: 0.8074
Epoch 16/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3884 - accuracy: 0.8317 - val_loss: 0.4428 - val_accuracy: 0.8118
Epoch 17/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4014 - accuracy: 0.8252 - val_loss: 0.4415 - val_accuracy: 0.8126
Epoch 18/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4072 - accuracy: 0.8234 - val_loss: 0.4409 - val_accuracy: 0.8170
Epoch 19/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4102 - accuracy: 0.8236 - val_loss: 0.4387 - val_accuracy: 0.8144
Epoch 20/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3930 - accuracy: 0.8329 - val_loss: 0.4372 - val_accuracy: 0.8157
Epoch 21/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4004 - accuracy: 0.8233 - val_loss: 0.4369 - val_accuracy: 0.8174
Epoch 22/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3978 - accuracy: 0.8260 - val_loss: 0.4343 - val_accuracy: 0.8183
Epoch 23/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3855 - accuracy: 0.8415 - val_loss: 0.4323 - val_accuracy: 0.8178
Epoch 24/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3952 - accuracy: 0.8299 - val_loss: 0.4324 - val_accuracy: 0.8178
Epoch 25/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3953 - accuracy: 0.8320 - val_loss: 0.4308 - val_accuracy: 0.8183
Epoch 26/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3806 - accuracy: 0.8408 - val_loss: 0.4268 - val_accuracy: 0.8243
Epoch 27/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3998 - accuracy: 0.8337 - val_loss: 0.4264 - val_accuracy: 0.8239
Epoch 28/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3881 - accuracy: 0.8341 - val_loss: 0.4253 - val_accuracy: 0.8256
Epoch 29/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3718 - accuracy: 0.8422 - val_loss: 0.4215 - val_accuracy: 0.8269
Epoch 30/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3879 - accuracy: 0.8394 - val_loss: 0.4201 - val_accuracy: 0.8273
Epoch 31/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3924 - accuracy: 0.8337 - val_loss: 0.4191 - val_accuracy: 0.8286
Epoch 32/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3698 - accuracy: 0.8501 - val_loss: 0.4168 - val_accuracy: 0.8286
Epoch 33/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3810 - accuracy: 0.8434 - val_loss: 0.4159 - val_accuracy: 0.8304
Epoch 34/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3730 - accuracy: 0.8417 - val_loss: 0.4120 - val_accuracy: 0.8308
Epoch 35/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3772 - accuracy: 0.8495 - val_loss: 0.4091 - val_accuracy: 0.8325
Epoch 36/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3660 - accuracy: 0.8458 - val_loss: 0.4068 - val_accuracy: 0.8347
Epoch 37/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3535 - accuracy: 0.8550 - val_loss: 0.4037 - val_accuracy: 0.8325
Epoch 38/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3667 - accuracy: 0.8432 - val_loss: 0.4052 - val_accuracy: 0.8347
Epoch 39/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3740 - accuracy: 0.8408 - val_loss: 0.4021 - val_accuracy: 0.8356
Epoch 40/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3644 - accuracy: 0.8511 - val_loss: 0.3986 - val_accuracy: 0.8360
Epoch 41/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3567 - accuracy: 0.8479 - val_loss: 0.3978 - val_accuracy: 0.8369
Epoch 42/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3529 - accuracy: 0.8504 - val_loss: 0.3952 - val_accuracy: 0.8395
Epoch 43/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3539 - accuracy: 0.8526 - val_loss: 0.3950 - val_accuracy: 0.8386
Epoch 44/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3649 - accuracy: 0.8451 - val_loss: 0.3935 - val_accuracy: 0.8369
Epoch 45/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8584 - val_loss: 0.3921 - val_accuracy: 0.8399
Epoch 46/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8585 - val_loss: 0.3889 - val_accuracy: 0.8382
Epoch 47/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3532 - accuracy: 0.8522 - val_loss: 0.3891 - val_accuracy: 0.8399
Epoch 48/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3601 - accuracy: 0.8487 - val_loss: 0.3876 - val_accuracy: 0.8356
Epoch 49/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8508 - val_loss: 0.3870 - val_accuracy: 0.8399
Epoch 50/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8533 - val_loss: 0.3857 - val_accuracy: 0.8399
Epoch 51/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8567 - val_loss: 0.3853 - val_accuracy: 0.8408
Epoch 52/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3439 - accuracy: 0.8572 - val_loss: 0.3849 - val_accuracy: 0.8408
Epoch 53/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3522 - accuracy: 0.8496 - val_loss: 0.3864 - val_accuracy: 0.8412
Epoch 54/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8548 - val_loss: 0.3843 - val_accuracy: 0.8395
Epoch 55/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3202 - accuracy: 0.8668 - val_loss: 0.3848 - val_accuracy: 0.8403
Epoch 56/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3498 - accuracy: 0.8556 - val_loss: 0.3828 - val_accuracy: 0.8399
Epoch 57/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8565 - val_loss: 0.3836 - val_accuracy: 0.8399
Epoch 58/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3537 - accuracy: 0.8528 - val_loss: 0.3843 - val_accuracy: 0.8429
Epoch 59/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3305 - accuracy: 0.8654 - val_loss: 0.3819 - val_accuracy: 0.8421
Epoch 60/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3508 - accuracy: 0.8542 - val_loss: 0.3810 - val_accuracy: 0.8408
Epoch 61/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8605 - val_loss: 0.3815 - val_accuracy: 0.8425
Epoch 62/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8637 - val_loss: 0.3843 - val_accuracy: 0.8403
Epoch 63/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3210 - accuracy: 0.8696 - val_loss: 0.3815 - val_accuracy: 0.8416
Epoch 64/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3207 - accuracy: 0.8661 - val_loss: 0.3827 - val_accuracy: 0.8399
Epoch 65/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8565 - val_loss: 0.3815 - val_accuracy: 0.8429
Epoch 66/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8624 - val_loss: 0.3820 - val_accuracy: 0.8390
Epoch 67/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3160 - accuracy: 0.8728 - val_loss: 0.3798 - val_accuracy: 0.8442
Epoch 68/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8609 - val_loss: 0.3804 - val_accuracy: 0.8425
Epoch 69/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3222 - accuracy: 0.8716 - val_loss: 0.3796 - val_accuracy: 0.8399
Epoch 70/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3279 - accuracy: 0.8651 - val_loss: 0.3803 - val_accuracy: 0.8403
Epoch 71/100
235/235 [==============================] - 0s 2ms/step - loss: 0.2996 - accuracy: 0.8787 - val_loss: 0.3802 - val_accuracy: 0.8429
Epoch 72/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3207 - accuracy: 0.8748 - val_loss: 0.3803 - val_accuracy: 0.8408
Epoch 73/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3161 - accuracy: 0.8696 - val_loss: 0.3796 - val_accuracy: 0.8403
Epoch 74/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3211 - accuracy: 0.8663 - val_loss: 0.3815 - val_accuracy: 0.8434
Epoch 75/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3202 - accuracy: 0.8668 - val_loss: 0.3832 - val_accuracy: 0.8434
Epoch 76/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3142 - accuracy: 0.8700 - val_loss: 0.3791 - val_accuracy: 0.8390
Epoch 77/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3157 - accuracy: 0.8717 - val_loss: 0.3797 - val_accuracy: 0.8399
Epoch 78/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3161 - accuracy: 0.8657 - val_loss: 0.3813 - val_accuracy: 0.8408
Epoch 79/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3207 - accuracy: 0.8718 - val_loss: 0.3802 - val_accuracy: 0.8403
Epoch 80/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3270 - accuracy: 0.8680 - val_loss: 0.3816 - val_accuracy: 0.8412
Epoch 81/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3213 - accuracy: 0.8695 - val_loss: 0.3824 - val_accuracy: 0.8412
Epoch 82/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3162 - accuracy: 0.8676 - val_loss: 0.3813 - val_accuracy: 0.8403
Epoch 83/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3096 - accuracy: 0.8763 - val_loss: 0.3820 - val_accuracy: 0.8412
Epoch 84/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3093 - accuracy: 0.8723 - val_loss: 0.3807 - val_accuracy: 0.8369
Epoch 85/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3291 - accuracy: 0.8670 - val_loss: 0.3817 - val_accuracy: 0.8399
Epoch 86/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3265 - accuracy: 0.8633 - val_loss: 0.3856 - val_accuracy: 0.8434
Epoch 87/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3299 - accuracy: 0.8615 - val_loss: 0.3822 - val_accuracy: 0.8386
Epoch 88/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3262 - accuracy: 0.8659 - val_loss: 0.3818 - val_accuracy: 0.8390
Epoch 89/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3225 - accuracy: 0.8689 - val_loss: 0.3806 - val_accuracy: 0.8395
Epoch 90/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3188 - accuracy: 0.8653 - val_loss: 0.3832 - val_accuracy: 0.8395
Epoch 91/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3224 - accuracy: 0.8642 - val_loss: 0.3814 - val_accuracy: 0.8386
Epoch 92/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8566 - val_loss: 0.3861 - val_accuracy: 0.8425
Epoch 93/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3212 - accuracy: 0.8666 - val_loss: 0.3832 - val_accuracy: 0.8395
Epoch 94/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3277 - accuracy: 0.8626 - val_loss: 0.3837 - val_accuracy: 0.8408
Epoch 95/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3128 - accuracy: 0.8707 - val_loss: 0.3826 - val_accuracy: 0.8373
Epoch 96/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8594 - val_loss: 0.3856 - val_accuracy: 0.8403
Epoch 97/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8618 - val_loss: 0.3842 - val_accuracy: 0.8403
Epoch 98/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3155 - accuracy: 0.8706 - val_loss: 0.3826 - val_accuracy: 0.8412
Epoch 99/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3170 - accuracy: 0.8653 - val_loss: 0.3821 - val_accuracy: 0.8390
Epoch 100/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3119 - accuracy: 0.8698 - val_loss: 0.3818 - val_accuracy: 0.8395

In [141]:
y_pred = classifier.predict(x_test)
y_pred=(y_pred>0.5)

In [142]:
y_pred.shape

(3000, 1)

In [143]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[2297,  119],
       [ 287,  297]])

In [68]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [ ]:
score

0.7975

In [ ]:
x_train.shape

(7000, 13)

In [ ]:
x_test.shape

(3000, 13)

In [ ]:
y_train.shape

(7000,)

In [ ]:
y_test.shape

(3000,)

In [49]:
data

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [63]:
y_pred=()

array([[0.09388673],
       [0.12102431],
       [0.11177635],
       ...,
       [0.09071609],
       [0.04284102],
       [0.0882481 ]], dtype=float32)

In [64]:
y_test

      Exited
7054       0
442        0
3954       0
2288       0
3196       0
...      ...
6427       0
1323       1
8365       0
7249       0
3249       0

[3000 rows x 1 columns]